<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>View Ticket</title>

</head>

<body>
	<div class="container mt-5 pt-2 ">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

			<div class="navbar-header">
				<a class="navbar-brand" href="#">Ticket Tracker Application</a>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item mr-sm-2"><a class="btn btn-info" href="/tickets/list ">Tickets</a>
				</li>
				<li class="nav-item mr-sm-2"><a class="btn btn-info" href="/tickets/addNewTickets">New Ticket</a></li>
			</ul>
			</form>
		</nav>
	</div>
	<div class="container mt-5 pt-2 border">

		<hr>
		<div class="panel-heading">
			<h3 style="text-align: center; color: black">View Ticket</h3>
		</div>
		<div class="panel-body">
			<form th:action="@{/tickets/list}" th:object="${tickets}">
				<div>
					<!-- Add hidden form field to handle update -->
					<input type="hidden" th:field="*{id}" />
				</div>
				<div class="form-group">
					<label for="title">Title:</label> <input type="text" class="form-control" name="title"
						th:field="*{title}" required="required" disabled />
				</div>
				<div class="form-group">
					<label for="description">Short Description:</label> <textarea class="form-control" rows="4"
						id="description" name="description" th:field="*{description}" required="required" disabled />
				</div>
				<div class="form-group">
					<label for="content">Content:</label> <input type="text" class="form-control" name="content"
						th:field="*{content}" required="required" disabled />
				</div>
				<div class="form-group">
					<label for="date">Ticket Created On:</label> <input type="text" class="form-control" name="date"
						th:field="*{date}" required="required" disabled />
				</div>

				<button class="btn btn-primary btn-lg">Go Back</button>
			</form>
		</div>
	</div>
</body>

</html>